In [ ]:
import pandas as pd
from fuzzywuzzy import process

In [19]:
data = pd.read_csv("tested.csv")

In [21]:
data.shape

(418, 12)

In [22]:
duplicates = []

In [23]:
def fuzzy_data(data,column,threshold=85):
    drop_set = set()
    for i,name in enumerate(data[column]):
        if i in drop_set:
            continue
        match = process.extract(name,data[column],limit=len(data))
        
        for match_name,score,idx in match:
            if score>=threshold and idx!=i:
                drop_set.add(idx)
                duplicates.append((idx,match_name,score))
    
    deduplicate_data = data.drop(index=drop_set).reset_index(drop=True)
    return deduplicate_data

In [ ]:
deduplicate_data = fuzzy_data(data,"Name")

In [36]:
duplicates[:15]

[(1, 'Wilkes, Mrs. James (Ellen Needs)', 86),
 (2, 'Myles, Mr. Thomas Francis', 86),
 (5, 'Svensson, Mr. Johan Cervin', 86),
 (7, 'Caldwell, Mr. Albert Francis', 86),
 (11, 'Jones, Mr. Charles Cresson', 86),
 (23, 'Williams, Mr. Richard Norris II', 86),
 (30, 'Louch, Mr. Charles Alexander', 86),
 (31, 'Jefferys, Mr. Clifford Thomas', 86),
 (34, 'Mock, Mr. Philipp Edmund', 86),
 (35, 'Katavelas, Mr. Vassilios (Catavelas Vassilios")"', 86),
 (41, 'Franklin, Mr. Thomas Parham', 86),
 (45, 'Peltomaki, Mr. Nikolai Johannes', 86),
 (46, 'Chevre, Mr. Paul Romaine', 86),
 (47, 'Shaughnessy, Mr. Patrick', 86),
 (50, 'Smith, Mr. Lucien Philip', 86)]

# New Data witout Any Fuzzy String

In [38]:
deduplicate_data

,PassengerId,Survived,Pclass,Name,Sex,Age,SibSp,Parch,Ticket,Fare,Cabin,Embarked
0,892,0,3,"Kelly, Mr. James",male,34.5,0,0,330911,7.8292,NaN,Q
1,895,0,3,"Wirz, Mr. Albert",male,27.0,0,0,315154,8.6625,NaN,S
2,896,1,3,"Hirvonen, Mrs. Alexander (Helga E Lindqvist)",female,22.0,1,1,3101298,12.2875,NaN,S
3,898,1,3,"Connolly, Miss. Kate",female,30.0,0,0,330972,7.6292,NaN,Q
4,900,1,3,"Abrahim, Mrs. Joseph (Sophie Halaut Easu)",female,18.0,0,0,2657,7.2292,NaN,C
...,...,...,...,...,...,...,...,...,...,...,...,...
165,1302,1,3,"Naughton, Miss. Hannah",female,NaN,0,0,365237,7.7500,NaN,Q
166,1305,0,3,"Spector, Mr. Woolf",male,NaN,0,0,A.5. 3236,8.0500,NaN,S
167,1306,1,1,"Oliva y Ocana, Dona. Fermina",female,39.0,0,0,PC 17758,108.9000,C105,C
168,1308,0,3,"Ware, Mr. Frederick",male,NaN,0,0,359309,8.0500,NaN,S
169,1309,0,3,"Peter, Master. Michael J",male,NaN,1,1,2668,22.3583,NaN,C

# New Deduplicated Data Shape

In [39]:
deduplicate_data.shape

(170, 12)